@{ ViewData["Title"] = "Sign Up"; }

<h1>Sign Up for @Model.Name</h1>
<hr/>
<h4>@Model.Date.ToString("yyyy-MM-dd")</h3>
<p>@Model.BodyRendered</p>
@if (@Model.Price > 10)
{
<button class="btn btn-primary" id="checkout-button">Pay $@Model.Price and Sign Up</button>
}
else
{
<button class="btn btn-primary">Sign Up</button>
}

@section Scripts {
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe("pk_test_51HVwMaHaHd7cM2CYcR9DMp6uTN1rEk1iiZoH5vVimpEM8p2hvC7xw8RTI1GgY0JSTzbIz41WwNXhIjJg9m3fPpbd00OIzYutiH");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
          fetch("/Trips/CreateSession/@Model.TripId", {
            method: "POST",
          })
          .then(function (response) {
            return response.json();
          })
         .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
          })
          .then(function (result) {
            if (result.error) {
              alert(result.error.message);
                }
          })
          .catch(function (error) {
                  console.error("Error:", error);
              });
        
            });
    </script>
}
